/*  ######  FONT  ######  */
@font-face {
  font-family: 'Segeo UI';
  src: url("../font/Segoe UI.woff"); }
@font-face {
  font-family: 'Segeo UI';
  src: url("../font/Segoe UI Bold.woff"); }
@font-face {
  font-family: 'Segeo UI';
  src: url("../font/Segoe UI Bold Italic.woff"); }
@font-face {
  font-family: 'Segeo UI';
  src: url("../font/Segoe UI Italic.woff"); }
@font-face {
  font-family: 'Segeo UI';
  src: url("../font/Segoe UI Light.woff"); }
/*  ###### MIXIN  ######  */
/*  ######  VARIABLES  ######  */
body {
  /*  ######  SECTION SERVICES  ######  */
  /*  ######  SECTION PORTFOLIO  ######  */
  /*  ######  SECTION DEFAULT  ######  */
  /*  ######  SECTION TWITTER  ######  */
  /* ######  SECTION JOHN DOE  ######  */
  /* ######  SECTION TESTIMONIALS  ######  */
  /* ######  SECTION CONTACT  ######  */
  /* ######  SECTION FOOTER  ######  */ }
  body header {
    background-image: url("../image/background_header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: 'Segoe UI', sans-serif; }
    body header #header_content {
      background-image: url("../image/hoverBackground_header.png");
      opacity: 0.9;
      min-height: 130px;
      display: flex;
      align-items: center;
      position: fixed;
      top: 0 !important;
      z-index: 100 !important; }
    body header .logo {
      color: white !important;
      font-size: 30px;
      font-weight: 700; }
      body header .logo span {
        color: #4BCAFF; }
    body header div ul li a {
      color: white !important;
      font-size: 14px;
      font-weight: 700;
      border: solid 1px transparent; }
    body header div ul li a:hover {
      border: 1px solid #4BCAFF;
      color: #4BCAFF !important; }
    body header .titre_principal {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 88vh;
      padding-top: 240px; }
      body header .titre_principal h1 {
        font-family: 'Segoe UI', sans-serif;
        font-size: 42px;
        font-weight: lighter;
        color: white;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        min-height: 140px; }
        body header .titre_principal h1 span {
          background-color: #3B454D;
          padding: 5px 15px; }
      @media (max-width: 575px) {
        body header .titre_principal h1 {
          font-size: 30px; } }
  body #services {
    background-color: #4BCAFF;
    color: white;
    min-height: 405px;
    padding-top: 78px;
    padding-bottom: 78px; }
    body #services p {
      font-size: 12px;
      font-family: 'Segoe UI', sans-serif;
      font-weight: 500;
      padding-top: 18px; }
    body #services h3 {
      font-family: 'Segoe UI', sans-serif;
      font-size: 24px;
      font-weight: 500;
      padding-top: 20px; }
    body #services #fleche {
      vertical-align: top;
      padding-bottom: 34px; }
    body #services h2 {
      font-size: 30px;
      font-weight: 300;
      font-family: 'Segoe UI', sans-serif; }
  body #feature {
    padding: 78px 0; }
    body #feature .container .galerie_1 {
      padding-bottom: 30px; }
    body #feature .container #features_nav {
      display: flex;
      justify-content: space-between; }
      body #feature .container #features_nav #features_titre hr {
        width: 30%;
        border: 1px solid black;
        margin-top: 0;
        margin-left: 0; }
      body #feature .container #features_nav ul li a {
        text-decoration: none;
        color: black;
        font-size: 14px;
        font-weight: 700;
        border: solid 1px transparent; }
      body #feature .container #features_nav ul li a:hover {
        border: 1px solid #4BCAFF;
        color: #4BCAFF !important; }
    body #feature .container .test:first-child {
      margin-bottom: 30px !important; }
  @media (max-width: 575px) {
    body #features ul li a {
      font-size: 10px; } }
  body #default {
    background-color: #515f67;
    padding: 78px 0;
    color: white; }
    body #default p {
      font-family: 'Segoe UI', sans-serif;
      font-size: 14px; }
    body #default h2 {
      font-family: 'Segoe UI' ,sans-serif;
      font-size: 30px;
      font-weight: 300; }
    body #default hr {
      width: 9%;
      border: 1px solid white;
      margin-top: 0;
      margin-left: 0; }
    body #default .boutton {
      color: black;
      font-family: 'Segoe UI', sans-serif;
      font-size: 14px;
      border-color: black; }
  body #twitter {
    background-color: #4BCAFF;
    height: 309px;
    padding: 78px 0;
    color: white; }
    body #twitter .container p {
      font-family: 'Segoe UI', sans-serif;
      font-size: 28px;
      font-weight: 300; }
    body #twitter .container #twitter_nav {
      display: flex;
      justify-content: space-between; }
      body #twitter .container #twitter_nav h2 {
        font-family: 'Segoe UI' ,sans-serif;
        font-size: 30px;
        font-weight: 300;
        color: white; }
      body #twitter .container #twitter_nav hr {
        width: 40%;
        border: 1px solid white;
        margin-top: 0;
        margin-left: 0; }
  body #johnDoe {
    background-image: url(../image/background_photographe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 505px;
    color: white;
    padding: 109px 0 177px 0; }
    body #johnDoe .container #john_titre h2 {
      font-family: 'Segoe UI', sans-serif;
      font-size: 30px;
      font-weight: 300; }
    body #johnDoe .container .row .content_reseaux p {
      font-family: 'Segoe UI', sans-serif;
      font-size: 14px;
      margin-bottom: 35px; }
    body #johnDoe .container .row .content_reseaux ul {
      display: flex;
      justify-content: space-between;
      width: 55%;
      padding-left: 0; }
      body #johnDoe .container .row .content_reseaux ul li {
        list-style: none; }
        body #johnDoe .container .row .content_reseaux ul li a {
          color: white;
          border: solid 1px white;
          padding: 15px; }
  body #testimonials {
    padding: 78px 0; }
    body #testimonials .container #titre_testimonials {
      display: flex;
      justify-content: space-between; }
      body #testimonials .container #titre_testimonials h2 {
        font-family: 'Segoe UI', sans-serif;
        font-weight: 300;
        font-size: 30px; }
    body #testimonials .container p {
      font-family: 'Segoe UI', sans-serif;
      font-size: 28px;
      font-weight: 300; }
    body #testimonials .container span {
      color: #4BCAFF;
      font-size: 14px;
      font-weight: 700; }
  body #contact {
    background-image: url(../image/background_contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 78px 0;
    color: white; }
    body #contact .container input {
      height: 50px;
      width: 100%;
      background-color: transparent;
      border-color: white; }
    body #contact .container #btn_envoi {
      padding-top: 40px; }
      body #contact .container #btn_envoi #envoi {
        background-color: #4BCAFF;
        color: white;
        font-weight: 700; }
    body #contact .container textarea {
      width: 100%;
      background-color: transparent;
      border-color: white; }
    body #contact .container p, body #contact .container ul {
      font-family: 'Segoe UI Semibold', sans-serif;
      font-size: 14px;
      padding-top: 25px;
      list-style: none; }
    body #contact .container ul {
      padding-left: 0; }

/*# sourceMappingURL=style.css.map */
