



body{
    header{

        background-image: url("../image/background_header.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        font-family: 'Segoe UI', sans-serif;

        #header_content{

            background-image: url("../image/hoverBackground_header.png");
            opacity: 0.9;
            min-height: 130px;
            display: flex;
            align-items: center;
            position: fixed;
            top: 0!important;
        }

        .logo{

            color: white!important;
            font-size: 30px;
            font-weight: 700;

            span{

                color: #4BCAFF;
            }
        }
        
        div {

            ul{

                li{

                    a{
                        color: white!important;
                        font-size: 14px;
                        font-weight: 700;
                        border: solid 1px transparent;
                    }
                    a:hover{

                        border: 1px solid #4BCAFF;
                        color: #4BCAFF!important;
                    }
                }
            }
        }
        .titre_principal{

            display: flex;
            align-items: center;
            justify-content: center;
            height: 88vh;
            padding-top: 240px;

            h1{
                font-family: 'Segoe UI', sans-serif;
                font-size: 42px;
                font-weight: lighter;
                color: white;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                min-height: 140px;

                span{

                    background-color: #3B454D;
                    padding: 5px 15px;
                }
            }
        }
        
    }

    /*  ######  SECTION SERVICES  ######  */

    #services{

        background-color: #4BCAFF;
        color: white;
        padding-top: 78px;
        padding-bottom: 78px;

        p{
            font-size: 12px;
            font-family: 'Segoe UI', sans-serif;
            font-weight: 500;
            padding-top: 18px;
        }
        h3{
            font-family: 'Segoe UI', sans-serif;
            font-size: 24px;
            font-weight: 500;
            padding-top: 20px;
        }

        

        h2{

            font-size: 30px;
            font-weight: 300;
            font-family: 'Segoe UI', sans-serif;
            padding-bottom: 34px;
        }
    }
}