/*  ######  FONT  ######  */

@font-face{

    font-family: 'Segeo UI';
    src: url("../font/Segoe\ UI.woff");
}

@font-face{

    font-family: 'Segeo UI';
    src: url("../font/Segoe\ UI\ Bold.woff");
}

@font-face{

    font-family: 'Segeo UI';
    src: url("../font/Segoe\ UI\ Bold\ Italic.woff");
}

@font-face{

    font-family: 'Segeo UI';
    src: url("../font/Segoe\ UI\ Italic.woff");
}

@font-face{

    font-family: 'Segeo UI';
    src: url("../font/Segoe\ UI\ Light.woff");
}

/*  ###### MIXIN  ######  */

@mixin for-extra-small-devices {
           
    @media (max-width: 575px) { @content; }       
}

@mixin for-small-devices {

    @media (min-width: 576px) and (max-width: 767px) { @content; }
    }
    
    @mixin for-medium-devices {

    @media (min-width: 768px) and (max-width: 991px) { @content; }
    }
    
    @mixin for-large-devices {

    @media (min-width: 992px) and (max-width: 1199px) { @content; }
    }

/*  ######  VARIABLES  ######  */

$breadcrumb-divider: quote("|");

body{
    header{

        background-image: url("../image/background_header.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        font-family: 'Segoe UI', sans-serif;

        // h2{

        //     font-family: 'Segoe UI' ,sans-serif;
        //     font-size: 30px;
        //     font-weight: 300;

        // }

        

       

        #header_content{

            background-image: url("../image/hoverBackground_header.png");
            opacity: 0.9;
            min-height: 130px;
            display: flex;
            align-items: center;
            position: fixed;
            top: 0!important;
            z-index: 100!important;
        }

        .logo{

            color: white!important;
            font-size: 30px;
            font-weight: 700;

            span{

                color: #4BCAFF;
            }
        }
        
        div {

            ul{

                li{

                    a{
                        color: white!important;
                        font-size: 14px;
                        font-weight: 700;
                        border: solid 1px transparent;
                    }
                    a:hover{

                        border: 1px solid #4BCAFF;
                        color: #4BCAFF!important;
                    }
                }
            }
        }
        .titre_principal{

            display: flex;
            align-items: center;
            justify-content: center;
            height: 88vh;
            padding-top: 240px;

            h1{
                font-family: 'Segoe UI', sans-serif;
                font-size: 42px;
                font-weight: lighter;
                color: white;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                min-height: 140px;

                span{

                    background-color: #3B454D;
                    padding: 5px 15px;
                }
            }

            @include for-extra-small-devices {

                h1{
                    font-size: 30px;
                }
            }
        }
        
    }

    /*  ######  SECTION SERVICES  ######  */

    #services{

        background-color: #4BCAFF;
        color: white;
        min-height: 405px;
        padding-top: 78px;
        padding-bottom: 78px;

        p{
            font-size: 12px;
            font-family: 'Segoe UI', sans-serif;
            font-weight: 500;
            padding-top: 18px;
        }
        h3{
            font-family: 'Segoe UI', sans-serif;
            font-size: 24px;
            font-weight: 500;
            padding-top: 20px;
        }

        #fleche{
            vertical-align: top;
            padding-bottom: 34px;
        }

        h2{

            font-size: 30px;
            font-weight: 300;
            font-family: 'Segoe UI', sans-serif;
           
        }
    }

    /*  ######  SECTION PORTFOLIO  ######  */


    #feature{

        padding:  78px 0;

        .container{

            .galerie_1{

                padding-bottom: 30px;
            }
            

            #features_nav{

                display: flex;
                justify-content: space-between;

                #features_titre{

                    hr{

                        width: 30%;
                        border: 1px solid black;
                        margin-top: 0;
                        margin-left: 0;
                    }
                }

                ul{


                    li{

                        a{
                            text-decoration: none;
                            color: black;
                            font-size: 14px;
                            font-weight: 700;
                            border: solid 1px transparent;
                        }

                        a:hover{

                            border: 1px solid #4BCAFF;
                            color: #4BCAFF!important;
                        }
                    }
                }

            }

            .test:first-child{

                margin-bottom:  30px!important;
            }
        }
    }

    @include for-extra-small-devices {

        ul{

            li{

                a{

                    font-size: 10px;
                }
            }
        }
    }


    /*  ######  SECTION DEFAULT  ######  */

    #default{

        background-color: rgb(81, 95, 103);
        padding: 78px 0;
        color: white;

        p{
            font-family: 'Segoe UI', sans-serif;
            font-size: 14px;
            
        }

        h2{

            font-family: 'Segoe UI' ,sans-serif;
            font-size: 30px;
            font-weight: 300;
        }
        
        hr{

            width: 9%;
            border: 1px solid white;
            margin-top: 0;
            margin-left: 0;
        }

        .boutton{

            color: black;
            font-family: 'Segoe UI', sans-serif;
            font-size: 14px;
            border-color: black;
        }
    }


    /*  ######  SECTION TWITTER  ######  */

    #twitter{

        background-color: #4BCAFF;
        height: 309px;
        padding: 78px 0;
        color: white;

        .container{

            p{

                font-family: 'Segoe UI', sans-serif;
                font-size: 28px;
                font-weight: 300;
            }

            #twitter_nav{

                display: flex;
                justify-content: space-between;
                

                h2{

                    font-family: 'Segoe UI' ,sans-serif;
                    font-size: 30px;
                    font-weight: 300;
                    color: white;
                }


                hr{
                    
                    width: 40%;
                    border: 1px solid white;
                    margin-top: 0;
                    margin-left: 0;
                }
            }
        }
    }

    /* ######  SECTION JOHN DOE  ######  */

    #johnDoe{

        background-image: url(../image/background_photographe.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 505px;
        color: white;
        padding: 109px 0 177px 0;

        .container{

            #john_titre{

                h2{

                    font-family: 'Segoe UI', sans-serif;
                    font-size: 30px;
                    font-weight: 300;
                }
            }

            .row{

                .content_reseaux{

                    p{

                        font-family: 'Segoe UI', sans-serif;
                        font-size: 14px;
                        margin-bottom: 35px;
                    }
                    ul{

                        display: flex;
                        justify-content: space-between;
                        width:  55%;
                        padding-left:  0;

                        li{

                            list-style: none;
                            a{

                                color: white;
                                border: solid 1px white;
                                padding: 15px;
                                
                            }
                        }
                    }
                }
            }
        }
    }


    /* ######  SECTION TESTIMONIALS  ######  */

    #testimonials{

        padding: 78px 0;

        .container{

            #titre_testimonials{

                display: flex;
                justify-content: space-between;

                h2{

                    font-family: 'Segoe UI', sans-serif;
                    font-weight: 300;
                    font-size: 30px;

                }

            }

            p{

                font-family: 'Segoe UI', sans-serif;
                font-size: 28px;
                font-weight: 300;
            }

            span{
                
                color: #4BCAFF;
                font-size: 14px;
                font-weight: 700;
            }
        }
    }

    /* ######  SECTION CONTACT  ######  */

    #contact{

        background-image: url(../image/background_contact.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 78px 0;
        color: white;

        .container{

            input{

                height: 50px;
                width: 100%;
                background-color: transparent;
                border-color: white;
            }

            #btn_envoi{

                padding-top: 40px;

                #envoi{

                    background-color: #4BCAFF;
                    color: white;
                    font-weight: 700;
                }
            }

            textarea{

                width: 100%;
                background-color: transparent;
                border-color: white;
            }

            p, ul{

                font-family: 'Segoe UI Semibold', sans-serif;
                font-size: 14px;
                padding-top: 25px;
                list-style: none;
            }

            ul{

                padding-left: 0;

                
            }
        }
    }

    /* ######  SECTION FOOTER  ######  */

    // footer{

    //     background-color: rgb(40, 40, 40);
    //     color: rgb(75, 88, 96);

    //     div{

    //         display: flex;
    //         justify-content: space-between;

    //         ol{

    //             li:nth-child(2)::before,
    //             li:nth-child(3)::before,
    //             li:nth-child(4)::before {
    //                 content: $breadcrumb-divider;
    //             }

    //             display: flex;
    //             justify-content: space-between;

    //             li{

    //                 list-style: none;
                    

    //                 a{

    //                     color: rgb(75, 88, 96);
                        
    //                 }
    //             }
    //         }
    //     }
    // }

}